@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
}
.activo{
background-color: #520BFF;
border-color: #520BFF;
color: #fff;
}
button:focus, button:focus-visible {
  outline: 0px !important;
}
.iconSearch1 {
  stroke-width:2px;fill:none;stroke:#999;stroke-miterlimit:10;
}
.iconSearch2 {
  fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:3px;
}
