@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MyriadPro;
  src: url('MyriadPro-Regular.otf');
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-myriadpro {
  font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
}

.activo{
background-color: #f4f4f4;
color: #2a2b71;
}
button:focus, button:focus-visible {
  outline: 0px !important;
}
.iconSearch1 {
  stroke-width:2px;fill:none;stroke:#999;stroke-miterlimit:10;
}
.iconSearch2 {
  fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:3px;
}
.cls-1{fill:#fff}
.contentCard{
  width:  448px;
  height: 240px;
}

.card {
  width:  448px;
  height: 240px;
  box-shadow: 0 1px 5px #00000099;
  display: block;
  border-radius: 10px;
  background-image: url(lugares/04.jpeg);
  background-size: cover;
  
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@media (max-height: 850px) and (orientation: landscape) {
  .auxheightcorrection {
    height: 50vh !important;
  }
}